<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata and resources
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <title>SkinnyWSSO</title>
    <link rel="stylesheet" href="/assets/bootstrap5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
    <link rel="icon" type="image/ico" href="/assets/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <script src="/assets/custom.js"></script>
</head>
<html>

<body>
    <div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3">
    </div>

    {{ if .user.UserInfo }}
    {{ template "navbar.html" }}
    {{ end }}
    
    {{ if .error }}
    <div id="error-container" class="bg-danger p-2 text-white" style="--bs-bg-opacity: .75;">
        <p>{{ .error }}</p>
    </div>
    {{ end }}
